/* ======================
   Test Selection page
====================== */

.img-zajac{ 
    display: block;
    width: min(80vw, 430px);
    height: auto; 
    margin: auto
}

@media (max-width: 1200px) {
    .img-zajac{
        width: min(70vw, 350px);
        height: auto;
    }
}
@media (max-width: 600px) {
    .img-zajac{
        width: min(50vw, 320px);
        height: auto;
    }
}